
/* ==========================================================================
   General Variables
   ========================================================================== */

@marginBig: 15px;
@margin: 10px;
@marginSmall: 5px;


/* social Media */
/* Facebook */
@colorFbDark: #2A4275;
@colorFb: #375595;
@colorFbLight: #3a589a;
@colorFbLighter: #4A71C4;
.fbGrad {
  .gradient( @colorFbLight, @colorFb );
}

/* Yahoo */
@colorYhDark: #521756;
@colorYh: #6C1F71;
@colorYhLight: #7A2280;
@colorYhLighter: #9F2BA8;
.yhGrad {
  .gradient( @colorYhLight, @colorYh );
}

/* Google */
@colorGoDark: #D2403B;
@colorGo: #E84A44;
@colorGoLight: #F8544E;
@colorGoLighter: #FF7576;
.goGrad {
  .gradient( @colorGoLight, @colorGo );
}

/* Live */
@colorLiveDark: #6BAEC9;
@colorLive: #78C0DD;
@colorLiveLight: #87D4F2;
@colorLiveLighter:#A7E2FF;
.liveGrad {
  .gradient( @colorLiveLight, @colorLive );
}

/* Color Scheme */
@white: #FFF;
@black: #000;
@black1: #333;
@black3: #666;
@black4: #999;

@greenFont: #469919;
@greyFontDark: #333;
@greyFont: #666;
@greyFontlight: #777;
@greyFontlighter: #999;
@greyFontlighter2: #848484;
@greyFontBright: #CCC;
@greyFontBrighter: #EFEFEF;
@blueFont: #478DB0;
@blueFontLight: #BFEEFF;

/* Color Scheme - greys */
@greyDarkBG1: #3B3933;
@greyDarkBG2: #4B4942;

@greyDarker: #B6B6B6;
@greyDark: #D5D5D5;
@grey: #CCC;
@greyLight: #E9E9E9;
@greyLight2: #EEE;
@greyLighter: #F7F7F7;
@greyLighter2: #F1F1F1;
@greyLightest: #FAFAFA;
.greyGrad {
  .gradient( @white, @greyLighter );
}
@greyDarkStart: #737267;
@greyDarkEnd: #67665C;
.greyDarkGrad {
  .gradient( @greyDarkStart, @greyDarkEnd );
}

/* Color Scheme - Dark */
@darkDark:#3E3D39;
@dark:#54534B;
@darkLight:#69685B;
@darkLigther:#7B7B6E;
.darkGrad {
  .gradient( @dark, @darkDark );
}

/* Color Scheme - greens */
@greenVR: #6BA73B;
@greenDark: #4C7817;
/*@green:#5F9816;*/
@green: #659F37; /* Links */
/*@greenLight:#72B222;*/
@greenLight: #68A220;
@greenLighter: #7DC226;
.greenGrad {
  .gradient( @greenLighter, @green );
}
.greenGrad2 {
  .gradient( @greenDark, @greenLighter );
}

/* Color Scheme - blues */
@blueBorder: #173A67;
@blueBG: #6AC2EC;
@blueVR: #112649;
@blueDark: #152B55;
@blue: #1B386D;
@blueLight: #2D508D;
@blueLighter: #40609F;
@blueBGLight: #D9E7EB;
@blueLine: #62A0BC;
@blueLine2: #57A9D1;
@blueLineLight: #00AEEF;
.blueGrad {
  .gradient( @blueLight, @blue );
}

/* Color Scheme - bright_blues */
@brightBlueDark: #58A6D8;
@brightBlue:#62B7EC;
@brightBlueLight:#70C5FC;
@brightBlueLighter:#A4D9FC;
.brightBlueGrad {
  .gradient( @brightBlueLight, @brightBlue );
}

/* Color Scheme - light_blues */
@lightBlue:#AAE0F9;
@lightBlueBright:#BAE8FF;
.lightBlueGrad {
  .gradient( @lightBlueBright, @lightBlue );
}

/* Color Scheme - bright_blues */
@pastelBlue: #2566BA;
@pastelBlueLight: #225DA5;
.pastelBlueGrad {
  .gradient( @pastelBlue, @pastelBlueLight );
}

/* Color Scheme - Oranges */
@orangeProgresBar:#F16521;
@orangeDark:#C08400;
@orange:#E79B00;
@orangeLight:#FCB400;
@orangeLighter:#F2BF51;
.orangeGrad {
  .gradient( @orangeLight, @orange );
}

/* Web 2 Lead Horizontal Gradient */
.horizontalGradient {
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(188, 188, 188, 0)), color-stop(15%, rgba(188, 188, 188, 1)), color-stop(85%, rgba(188, 188, 188, 1)), color-stop(100%, rgba(188, 188, 188, 0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(188, 188, 188, 0) 0%, rgba(188, 188, 188, 1) 15%, rgba(188, 188, 188, 1) 85%, rgba(188, 188, 188, 0) 100%); /* Chrome10+,Safari5.1+ */
  background:    -moz-linear-gradient(left, rgba(188, 188, 188, 0) 0%, rgba(188, 188, 188, 1) 15%, rgba(188, 188, 188, 1) 85%, rgba(188, 188, 188, 0) 100%); /* FF3.6+ */
  background:     -ms-linear-gradient(left, rgba(188, 188, 188, 0) 0%, rgba(188, 188, 188, 1) 15%, rgba(188, 188, 188, 1) 85%, rgba(188, 188, 188, 0) 100%); /* IE10+ */
  background:      -o-linear-gradient(left, rgba(188, 188, 188, 0) 0%, rgba(188, 188, 188, 1) 15%, rgba(188, 188, 188, 1) 85%, rgba(188, 188, 188, 0) 100%); /* Opera 11.10+ */
  background:         linear-gradient(to right, rgba(188, 188, 188, 0) 0%, rgba(188, 188, 188, 1) 15%, rgba(188, 188, 188, 1) 85%, rgba(188, 188, 188, 0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#00bcbc', endColorstr = '#00bcbc', GradientType = 1); /* IE6-9 */
}
.horizontalGradientLight {
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(245, 245, 245, 0)), color-stop(15%, rgba(245, 245, 245, 1)), color-stop(85%, rgba(245, 245, 245, 1)), color-stop(100%, rgba(245, 245, 245, 0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(245, 245, 245, 0) 0%, rgba(245, 245, 245, 1) 15%, rgba(245, 245, 245, 1) 85%, rgba(245, 245, 245, 0) 100%); /* Chrome10+,Safari5.1+ */
  background:    -moz-linear-gradient(left, rgba(245, 245, 245, 0) 0%, rgba(245, 245, 245, 1) 15%, rgba(245, 245, 245, 1) 85%, rgba(245, 245, 245, 0) 100%); /* FF3.6+ */
  background:     -ms-linear-gradient(left, rgba(245, 245, 245, 0) 0%, rgba(245, 245, 245, 1) 15%, rgba(245, 245, 245, 1) 85%, rgba(245, 245, 245, 0) 100%); /* IE10+ */
  background:      -o-linear-gradient(left, rgba(245, 245, 245, 0) 0%, rgba(245, 245, 245, 1) 15%, rgba(245, 245, 245, 1) 85%,  rgba(245, 245, 245, 0) 100%); /* Opera 11.10+ */
  background:         linear-gradient(to right, rgba(245, 245, 245, 0) 0%, rgba(245, 245, 245, 1) 15%, rgba(245, 245, 245, 1) 85%, rgba(245, 245, 245, 0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#f5f5f5', endColorstr = '#f5f5f5', GradientType = 1); /* IE6-9 */
}
.verticalGradient {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(188, 188, 188, 0)), color-stop(15%, rgba(188, 188, 188, 1)), color-stop(85%, rgba(188, 188, 188, 1)), color-stop(100%, rgba(245, 245, 245, 0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(188, 188, 188, 0) 0%, rgba(188, 188, 188, 1) 15%, rgba(188, 188, 188, 1) 85%, rgba(188, 188, 188, 0) 100%); /* Chrome10+,Safari5.1+ */
  background:    -moz-linear-gradient(top, rgba(188, 188, 188, 0) 0%, rgba(188, 188, 188, 1) 15%, rgba(188, 188, 188, 1) 85%, rgba(188, 188, 188, 0) 100%); /* FF3.6+ */
  background:     -ms-linear-gradient(top, rgba(188, 188, 188, 0) 0%, rgba(188, 188, 188, 1) 15%, rgba(188, 188, 188, 1) 85%, rgba(188, 188, 188, 0) 100%); /* IE10+ */
  background:      -o-linear-gradient(top, rgba(188, 188, 188, 0) 0%, rgba(188, 188, 188, 1) 15%, rgba(188, 188, 188, 1) 85%, rgba(188, 188, 188, 0) 100%); /* Opera 11.10+ */
  background:         linear-gradient(to bottom, rgba(188, 188, 188, 0) 0%, rgba(188, 188, 188, 1) 15%, rgba(188, 188, 188, 1) 85%, rgba(188, 188, 188, 0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#f5f5f5', endColorstr = '#f5f5f5', GradientType = 1); /* IE6-9 */
}
.verticalGradientLight {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(245, 245, 245, 0)), color-stop(15%, rgba(245, 245, 245, 1)), color-stop(85%, rgba(245, 245, 245, 1)), color-stop(100%, rgba(245, 245, 245, 0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(245, 245, 245, 0) 0%, rgba(245, 245, 245, 1) 15%, rgba(245, 245, 245, 1) 85%, rgba(245, 245, 245, 0) 100%); /* Chrome10+,Safari5.1+ */
  background:    -moz-linear-gradient(top, rgba(245, 245, 245, 0) 0%, rgba(245, 245, 245, 1) 15%, rgba(245, 245, 245, 1) 85%, rgba(245, 245, 245, 0) 100%); /* FF3.6+ */
  background:     -ms-linear-gradient(top, rgba(245, 245, 245, 0) 0%, rgba(245, 245, 245, 1) 15%, rgba(245, 245, 245, 1) 85%, rgba(245, 245, 245, 0) 100%); /* IE10+ */
  background:      -o-linear-gradient(top, rgba(245, 245, 245, 0) 0%, rgba(245, 245, 245, 1) 15%, rgba(245, 245, 245, 1) 85%,  rgba(245, 245, 245, 0) 100%); /* Opera 11.10+ */
  background:         linear-gradient(to bottom, rgba(245, 245, 245, 0) 0%, rgba(245, 245, 245, 1) 15%, rgba(245, 245, 245, 1) 85%, rgba(245, 245, 245, 0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#f5f5f5', endColorstr = '#f5f5f5'); /* IE6-9 */
}
.verticalGradient_3hops {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(188, 188, 188, 0)), color-stop(50%, rgba(188, 188, 188, 1)), color-stop(100%, rgba(245, 245, 245, 0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(188, 188, 188, 0) 0%, rgba(188, 188, 188, 1) 50%, rgba(188, 188, 188, 0) 100%); /* Chrome10+,Safari5.1+ */
  background:    -moz-linear-gradient(top, rgba(188, 188, 188, 0) 0%, rgba(188, 188, 188, 1) 50%, rgba(188, 188, 188, 0) 100%); /* FF3.6+ */
  background:     -ms-linear-gradient(top, rgba(188, 188, 188, 0) 0%, rgba(188, 188, 188, 1) 50%, rgba(188, 188, 188, 0) 100%); /* IE10+ */
  background:      -o-linear-gradient(top, rgba(188, 188, 188, 0) 0%, rgba(188, 188, 188, 1) 50%, rgba(188, 188, 188, 0) 100%); /* Opera 11.10+ */
  background:         linear-gradient(to bottom, rgba(188, 188, 188, 0) 0%, rgba(188, 188, 188, 1) 50%, rgba(188, 188, 188, 0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#f5f5f5', endColorstr = '#f5f5f5'); /* IE6-9 */
}
.verticalGradientLight_3hops {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(245, 245, 245, 0)), color-stop(50%, rgba(245, 245, 245, 1)), color-stop(100%, rgba(245, 245, 245, 0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(245, 245, 245, 0) 0%, rgba(245, 245, 245, 1) 50%, rgba(245, 245, 245, 0) 100%); /* Chrome10+,Safari5.1+ */
  background:    -moz-linear-gradient(top, rgba(245, 245, 245, 0) 0%, rgba(245, 245, 245, 1) 50%, rgba(245, 245, 245, 0) 100%); /* FF3.6+ */
  background:     -ms-linear-gradient(top, rgba(245, 245, 245, 0) 0%, rgba(245, 245, 245, 1) 50%, rgba(245, 245, 245, 0) 100%); /* IE10+ */
  background:      -o-linear-gradient(top, rgba(245, 245, 245, 0) 0%, rgba(245, 245, 245, 1) 50%, rgba(245, 245, 245, 0) 100%); /* Opera 11.10+ */
  background:         linear-gradient(to bottom, rgba(245, 245, 245, 0) 0%, rgba(245, 245, 245, 1) 50%, rgba(245, 245, 245, 0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#f5f5f5', endColorstr = '#f5f5f5'); /* IE6-9 */
}

@errorBG: #FFFFC4;
@errorFont: #F17B7B;
@errorFont2: #C23940;
@errorLine: #EEE074;

/* general dividers */
@hDivider1: 1px dotted @greyDark;

/* Type Scheme */
@Sans:'Droid Sans',Arial,sans-serif;
@Sans2:'Helvetica Neue',Arial,Helvetica,Geneva,sans-serif;
@Serif:'Droid Serif',Georgia,Times,"Times New Roman",serif;

/* Type Shadow */
.title-shadow {
  text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
}
.inverted-shadow {
  text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
}
.rounded-corners (@radius: 3px) {
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding-box;
          background-clip: padding-box;
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}
.rounded-tabs (@radius: 3px) {
   -webkit-border-top-left-radius: @radius;
  -webkit-border-top-right-radius: @radius;
       -moz-border-radius-topleft: @radius;
      -moz-border-radius-topright: @radius;
           border-top-left-radius: @radius;
          border-top-right-radius: @radius;
}
.no-button {
  background: none;
  border: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  text-shadow: none;
}

.opacity (@opacity: 0) {
  @opp: @opacity * 100 ;
  -ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(Opacity=@{opp})";
      filter: ~"alpha(opacity=@{opp})";
     opacity: @opacity;
}

.gradient (@startColor, @endColor, @whereStart: 0%, @whereEnd: 100%) {
  background-color: @startColor;
  background-image: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
  background-image: -webkit-linear-gradient(top, @startColor @whereStart, @endColor @whereEnd);
  background-image:    -moz-linear-gradient(top, @startColor @whereStart, @endColor @whereEnd);
  background-image:     -ms-linear-gradient(top, @startColor @whereStart, @endColor @whereEnd);
  background-image:      -o-linear-gradient(top, @startColor @whereStart, @endColor @whereEnd);
  background-image:         linear-gradient(to bottom, @startColor @whereStart, @endColor @whereEnd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = @startColor, endColorstr = @startColor);
}

/* Coqueteria */
* {
  -webkit-transition: background-color .2s ease-out, color .2s ease-out;
  -moz-transition: background-color .2s ease-out, color .2s ease-out;
  -o-transition: background-color .2s ease-out, color .2s ease-out;
  -ms-transition: background-color .2s ease-out, color .2s ease-out;
  transition: background-color .2s ease-out, color .2s ease-out;
}
