
/* ==========================================================================
   Styles for Results Page
   ========================================================================== */

/* Results  */
.navLstProp {
  clear: none;
}
.navLstProp h3 {
  background:@blue;
  color: @white;
  margin: -10px 0 0 -15px;
  width: 100%;
  padding: @margin @marginBig;
  font-weight: normal;
  .rounded-tabs;
}
.navLstProp li {
  list-style: none;
  margin-left: 0;
}
.navLstProp label {
  clear: both;
  color: @greyFont;
  display: block;
  font-size: 12px;
  font-style: italic;
  padding-bottom: @marginSmall;
}

/* Locations  */
#seccionUbicaciones {
  border-bottom: @hDivider1;
}
#seccionUbicaciones label {
  padding-top: @margin;
} 
#seccionUbicaciones a.delete {
  font-size: 0.8em;
  width: 13px;
  height: 13px;
  display: inline-block;
  background: url(../../img/core/delete.png) no-repeat 0 2px;
}
#seccionUbicaciones .selUbicAdd label {
  float: left;
}
#seccionUbicaciones .btn {
  float:right;
  margin: @margin 0;
}
.navLstProp .resetFilter .btn {
  width:auto;
  display: block;
  text-align: center;
  margin: @margin 0 0 0;
}
.navLstProp .onlyPhoto {
  border-top: @hDivider1;
  clear: both;
  margin-top: @margin;
  padding-top: @margin; 
}
.navLstProp .onlyPhoto span {
  font-size: 0.9em;
  margin-left: @marginSmall;
}
.navLstProp .vertodos {
  margin-top: @margin;
} 
.navLstProp .vertodos a {
  font-size: 0.9em;
  font-family: @Sans;
}

/* Slider  */
.ui-slider {
  .rounded-corners;
  margin-left: @marginSmall;
  width: 95%;
  border: 1px solid @greyDarker;
  background: @greyLight;
  position:relative;
}
.ui-slider-range {
  background: lighten(@blueLighter, 20%);
  height: 5px;
  border:1px solid @blueLighter;
  position:relative;
}
.ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 12px;
  height: 12px;
  cursor: default;
  margin-top:-9px;
  margin-left: -8px;
  background: url(../../img/core/spriteGeneral.png) no-repeat -13px -341px;
}
/* Pagination  */
.order,
.pagination {
  .rounded-corners;
  background: @green;
  border: 1px solid @greenDark;
  margin:@marginBig 0;
  padding:@marginSmall @margin;
  color: @white;
  font-family: @Sans;
}
.order {
  margin-top: 0;
}
.order .data {
  float: left;
  margin-bottom: 0;
}

.order p {
  float:right;
  margin:0;
}
.pagination a {
  color:@white;
  padding:3px;
}
.pagination .active {
  .rounded-corners;
  background: @greenLighter;
  color: @green;
  padding: @marginSmall;
  font-weight: bold;
}
.no-touch .pagination a:hover {
  color: fade(@white, 60%);
}
.pagination .prev,
.pagination .next  {
  float: left;
  font-weight: bold;
  padding: 0 0 0 @marginBig;
  background: url(../../img/core/spritePagination.png) no-repeat 0 4px;
  margin-top: 5px;
}
.pagination .prev.inactive,
.pagination .next.inactive {
  color:@greyFontDark;
  background: url(../../img/core/spritePagination.png) no-repeat 0 -42px;
}
.pagination .next.inactive {
  background: url(../../img/core/spritePagination.png) no-repeat right -65px;
}
.pagination .next {
  float: right;
  padding: 0 @marginBig 0 0;
  background: url(../../img/core/spritePagination.png) no-repeat right -19px;
}
.pagination ul {
  width: 370px;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
}
.pagination li {
  display: inline;
  margin: 0;
}
/* LIST ITEMS */
.properties > li {
  clear: both;
  overflow: hidden;
  border:1px solid @white;
  border-bottom: @hDivider1;
  padding: @marginBig @margin;
  margin:0;
}
.no-touch .properties > li:hover {
  background: @greyLighter;
  border: 1px solid @green;
}
.properties .propertyInfo {
  float: right;
  width: 350px;
}
.propertyInfo li {
  display: inline-block;
  margin-left: @marginSmall;
  padding-left: @marginBig;
  background: url(../../img/core/spriteGeneral.png) no-repeat -13px -224px;
}
.propertyInfo h2 {
  margin-top: 0;
  font-size: 1.3em;
  font-weight: bold!important;
}
.propertyInfo .status {
  color: @greyFontlight;
  font-style: italic;
  display: block;
  margin-bottom: @marginSmall;
  font-size: 0.8em;
}
.propertyInfo .location,
.propertyInfo h4 {
  font-size: .8em;
  color: @greyFont;
  margin-top: 5px;
  display: block;
}
.propertyInfo h4 {
  font-family: @Sans;
  font-size: 1.0em;
  font-weight: normal;
  color: @greyFontlight;
}
.propertyInfo .logoInm {
  float: right;
}
.propertyInfo .logoInm img {
  border: solid 1px @greyDark;
  display: block;
  width: 80px;
  height: 37px;
}
.no-touch .propertyInfo a:hover {
  text-decoration: none;
}
.propertyThumb {
  float: left;
  position: relative;
}
.propertyThumb img {
  background: #F3F3ED url(../../img/core/noThumb.jpg) no-repeat center center;
  display: block;
  width: 160px;
  height: 120px;
  margin-left: @marginSmall;
}
.propertyThumb mark {
  background: url(../../img/core/img-flag-dev-state-middle.png) repeat-x top;
  bottom: -7px;
  color: @white;
  font-style: italic;
  height: 22px;
  line-height: 20px;
  margin: 0 0 0 5px;
  padding: 9px 0 0 5px;
  position: absolute;
  width: auto;
}
.hlisting.project  .propertyThumb mark:before {
  background: url(../../img/core/img-flag-dev-mainstate-before.png) no-repeat top;
  content: '';
  display: block;  
  height: 31px;
  left:-4px;
  margin: 1px 0 0 0;
  padding: 0;
  position: absolute;
  top:0;
  width: 4px;
  z-index: 10;
}
.hlisting.project  .propertyThumb mark:after {
  background: url(../../img/core/img-flag-dev-state-after.png) no-repeat top;
  content: '';
  display: block;
  height: 31px;
  margin: 0;
  padding: 0;
  position: absolute;
  right:-18px;
  top:0;
  width: 18px;
}
.properties .PropertyDescription {
  display: none;
  clear: both;
}
.descripcionInmueble {
  font-family: @Sans;
  font-size: 0.9em;
  color: @greyFontlight;
}
.properties .actions {
  clear:both;
}
.properties .actions a {
  float: right;
  margin-left: @marginSmall;
}
.actions .expandirContraer.expandir {
  background: url(../../img/core/spriteGeneral.png) no-repeat -13px -678px;
  margin: 3px 0 0 5px;
  padding: 4px 0 3px @margin * 2;
  font-family: @Sans;
  float: none;
  display: inline-block;
  font-size: 0.87em;
}

/* PROPIEDADES DESTACADAS */
.newProjects {
  .rounded-corners;
  background: @greyLight;
  padding: @margin;
  overflow: hidden;
  margin-bottom: @marginBig;
}
.featuredProps { 
  overflow: hidden; 
  margin-bottom:15px; 
}
.featuredProps .adSlot { 
  width: 125px; 
  height: 125px; 
  float: left; 
  margin: 0 10px 0 0; 
}
.featuredProps #lastAd { 
  margin: 0 
}

#inmoView h2 {
  margin: 0 0 @margin 0;
  font-size: 2em;
  border-bottom: @hDivider1;
  padding-bottom: @marginSmall;
}
.nombreInm {
  float: right;
  width: 30%;
  text-align: center;
  padding: @margin;
}
.nombreInm img {
  display: block;
  margin: 0 auto 10px auto;
}
.datosInm {
  float: left;
  width: 65%;
}
#inmoInfo {
  .rounded-corners;
  background: @grey;
  clear: both;
  padding: @margin * 2 @margin * 2 0 @margin * 2;
  border:1px solid @greyDark;
}
#accountContact h2 {
  margin: 0 0 @margin 0;
  font-size: 1.4em;
}
#accountContact .note {
  margin-top: -5px;
}
#accountContact .col {
  width: 230px;
  margin-right: @marginSmall;
}
#accountContact textarea {
}
.iMap {
  margin-right: @margin;
}
/* RESULTADOS DE INMOBILIARIAS */
.cantidadInmobiliarias h2{
  margin:0;
  border-bottom: @hDivider1;
  padding-bottom: @margin;
}
.inmobiliarias .hlisting {
  list-style: none;
  border-bottom: @hDivider1;
  margin:0;
  clear: both;
  overflow: hidden;
}
.inmInfo {
  padding: 0 0 @marginBig @margin;
  float: left;
  width: 60%;
}
.inmInfo h3 {
  margin-top: @marginBig;
}
.inmInfo p {
  margin: 0;
}
.inmLogo {
  float:right;
  width: 30%;
  padding: 20px;
}
.inmLogo a {
  float:right;
}
.inmLogo a img {
  border:1px solid @grey;
}
.inmLogo a.btn {
  margin-top: 5px;
}
.listNav {
  clear: both;
}
/*   RESULTS BY ID    */
#byIdListing {
  width: 100%;
}
#idSearch .hlisting {
  list-style: none;
  float: left;
  clear: none;
  width: 440px;
  height: 175px;
}
#idSearch .propertyInfo {
  width: 260px;
}
#idSearch .actions {
  display: none;
}
#idSearch .even {
  float: right;
  clear: right;
  margin: 0 15px 15px 0;
}
#idSearch .odd {
  float: left;
  clear: left;
  margin: 0 15px 15px 0;
}

.inmDestacada {
  display: none;
}




/***********************************************************************/

.search_description {

  font-family: @Sans;

  .sd_title {
    clear: none;
    font-size: 1.9em;
    font-weight: 700;
    margin: 0 0 5px;

  }

  .sd_characteristics {

    font-weight: 400;
    margin: 0;
  }

  .sd_count {
    background: none;
    color: @white;
    float: left;
    font-size: .9em;
    font-weight: 400;
    margin-right: 20px;
    text-align: right;
    width: 215px;

    strong {
      display: block;
      font-size: 4em;
      font-weight: 700;
      line-height: .9em;
    }
  }

}

.filterSearch {
  background-color: @greyDarkBG2;

  .fs_title {
    background-color: @greyDarkBG1;
    color: @greyFontBright;
    font: italic 400 1.25em/2.5em @Serif;
    margin: 0;
    padding-left: 15px;
  }
  .fs_section {
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    clear: left;
    color: @white;
    display: block;
    font: 1em @Sans;
    padding: 10px 15px;
    position: relative; 
  }
  .fs_section:before,
  .fs_section:after {
    background-color: fadeout(@darkDark, 60%);
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .fs_section:after {
    background-color: fadeout(@white, 90%);
    top: 1px;
  }
  .fs_section_title {
    font-weight: 400;
    margin-bottom: 5px;
    padding-left: 3px;
  }
  .fs_section_content {

  }
  .fs_filter_list {
    margin-bottom: 8px;
    overflow: hidden;
  }
  .fs_applied_filter {
    background-color: #3E3D37;
    .rounded-corners;
    clear: left;
    color: @white;
    float: left;
    font-size: .9em;
    list-style: none;
    margin: 0 0 4px;
    padding: 6px 15px 6px 7px;
    position: relative;
  }

  .fs_applied_filter:after {
    background: url(../../img/core/icn_point_down.png);
    bottom: -7px;
    content: "";
    height: 7px;
    left: 10px;
    position: absolute;
    width: 12px;
    z-index: 1;
  }
  .fs_applied_filter:last-child:after {
    background: none;
  }

  .fs_filter_count {
    color: @black4;
  }

  .fs_remove_filter {
    background: none;
    color: @black4;
    cursor: pointer;
    font-size: .9em;
    position: absolute;
    right: 4px;
    top: 1px;
  }

  .btn {
    font-size: .85em;
    font-weight: 400;
  }

  .col_1_3 {
    clear: none;
    float: left;
    padding: 10px 8px;
    width: 33%;
  }
  .col_1_3.first {
    padding: 10px 0px 10px 15px;
  }
  .col_1_3.last {
    padding: 10px 15px 10px 0px;
  }

  .fs_range_holder {
    color: @black3;
    position: absolute;
    right: 17px;
    text-align: right;
    top: 15px;
    width: 150px;

    input[type="text"] {
    -moz-box-sizing: border-box;
         box-sizing: border-box;
      background-color: #3E3D37;
      border: none;
      box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1);
      color: @greyFontBright;
      display: inline-block;
      font-size: .85em;
      margin: 0;
      padding: 4px;
      text-align: right;
      width: 46%;
    }

  }
  .fs_range_holder.short {
    width: 135px
  }

}

.fake_select {
  position: relative; 

  .btn.fake_trigger {
    font-size: .9em;
    padding: 8px 10px;
    text-align: left;
    width: 100%;
  }
  .btn.fake_trigger:after {
    background: url(../../img/core/icn_fake_select_caret.png) no-repeat 0 0;
    content: "";
    height: 9px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 4px;
  }

  select {
    height: 32px;
    left: 0;
    margin: 0;
    .opacity(0);
    position: absolute;
    top: 0;
    width: 100%;
  }

}

.no-js .fake_select .btn.fake_trigger {
  .opacity(0);
}
.no-js .fake_select select {
  .opacity(1);
}

.listProperties .contentTabs {
  padding-top: 0;

  section {
    padding: 20px 15px;
  }
}


.featured_projects {
  background-color: #FCFCFC;
  border: 1px solid @greyLight;
  float: none;
  margin: 0 0 20px;
  padding: 8px 0;
  width: auto;

  .fp_title {
    font-size: .7em;
    margin: 0 0 6px;
    text-align: center;
  }

  .fp_units {
    overflow: hidden;
    padding-left: 7px;

    li {
      float: left;
      list-style: none;
      margin: 0 0 0 5px;
    }
    li:first-child {
      margin-left: 0;
    }
  }
}

.properties_list {

  .pl_list {
    margin: 0 0 20px;
    overflow: hidden;
    padding: 0;
  }
}

.listing_unit {
  color: @black3;
  border-top: 1px solid @greyLight;
  font-family: @Sans;
  list-style: none;
  margin: 0 0 10px;
  overflow: hidden;
  padding: 20px 15px 20px 20px;
  position: relative;

  &:before,
  &:after {
    .gradient(@greyLight, @white, 50%);
    content: " ";
    height: 180px;
    position: absolute;
    top: 0;
    width: 1px;
  }

  &:before {
    left: 0;
  }
  &:after {
    right: 0;
  }

  .lu_details {
    float: right;
    width: 66%;
  }

  .lu_title {
    font-size: 1.65em;
    margin: 0;
  }

  .lu_price {
    float: right;

    .lu_p_currency {
      font-size: .85em;
    }

  }

  .lu_no_price {
    font-weight: 400;
    font-size: .75em;
  }
  .lu_no_price:before,
  .lu_no_price:after {
    content: " - ";
  }

  .lu_address {
    font: italic 400 1.1em @Serif;
  }

  .lu_description {
    color: @greyFontlighter2;
    font-family: @Sans;
    font-size: .85em;
    margin: 15px 0;
    width: 340px;
  }

  .lu_broker_logo {
    border: 1px solid @greyLight2;
    float: right;
    height: 35px;
    padding: 0 3px;
  }

  .lu_characteristics {

    .lu_c_section {
      float: left;
      list-style: none;
      margin: 0 10px 0 0;
      padding: 0 0 0 7px;
      position: relative;
      width: 50px;

      &:first-child {
        padding: 0;
        width: 80px;
      }
      &:before {
        .verticalGradient_3hops;
        content: " ";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 1px;
      }
      &:first-child:before {
        background: none;
      }
    }

    .lu_c_label {
      color: @greyFontlighter2;
      font-weight: 400;
    }

    .lu_c_value {
      font-size: 1.25em;
    }
  }

  .lu_img_wrapper {
    float: left;
    position: relative;

    .lu_iw_thumbnail {
      display: block;
      overflow: hidden;
      
      img {
        border: 1px solid @grey;
        display: block;
      }
    }

    .lu_iw_state {
      display: none;
      position: absolute;
    }

    .lu_iw_photo_count {
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      background-color: rgba(0, 0, 0, .5);
      bottom: 1px;
      color: @white;
      font-size: .85em;
      height: 32px;
      left: 1px;
      padding: 09px 0 0 35px;
      position: absolute;
      width: 60px;
    }

    .lu_iw_photo_count:before {
      background: url(../../img/core/icn_photo_count.png) no-repeat 0 0;
      content: "";
      height: 12px;
      left: 13px;
      position: absolute;
      top: 10px;
      width: 17px;
    }

  }
}



































 